//! **************************************************************************
// Written by: Map P.28xd on Mon Apr 30 20:12:18 2018
//! **************************************************************************

SCHEMATIC START;
COMP "G1" LOCATE = SITE "T6" LEVEL 1;
COMP "R1" LOCATE = SITE "V7" LEVEL 1;
COMP "R2" LOCATE = SITE "N7" LEVEL 1;
COMP "CLK" LOCATE = SITE "L12" LEVEL 1;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "rst" LOCATE = SITE "B8" LEVEL 1;
COMP "HS_L" LOCATE = SITE "N6" LEVEL 1;
COMP "VS_L" LOCATE = SITE "P7" LEVEL 1;
COMP "data" LOCATE = SITE "J13" LEVEL 1;
COMP "B0" LOCATE = SITE "R7" LEVEL 1;
COMP "B1" LOCATE = SITE "T7" LEVEL 1;
COMP "G0" LOCATE = SITE "P8" LEVEL 1;
COMP "G2" LOCATE = SITE "V6" LEVEL 1;
COMP "R0" LOCATE = SITE "U7" LEVEL 1;
COMP "s_L<0>" LOCATE = SITE "P17" LEVEL 1;
COMP "s_L<1>" LOCATE = SITE "P18" LEVEL 1;
COMP "s_L<2>" LOCATE = SITE "N15" LEVEL 1;
COMP "s_L<3>" LOCATE = SITE "N16" LEVEL 1;
COMP "led<0>" LOCATE = SITE "U16" LEVEL 1;
COMP "led<1>" LOCATE = SITE "V16" LEVEL 1;
COMP "led<2>" LOCATE = SITE "U15" LEVEL 1;
COMP "led<3>" LOCATE = SITE "V15" LEVEL 1;
COMP "led<4>" LOCATE = SITE "M11" LEVEL 1;
COMP "led<5>" LOCATE = SITE "N11" LEVEL 1;
COMP "led<6>" LOCATE = SITE "R11" LEVEL 1;
COMP "led<7>" LOCATE = SITE "T11" LEVEL 1;
COMP "seg_L<0>" LOCATE = SITE "M13" LEVEL 1;
COMP "seg_L<1>" LOCATE = SITE "L14" LEVEL 1;
COMP "seg_L<2>" LOCATE = SITE "N14" LEVEL 1;
COMP "seg_L<3>" LOCATE = SITE "M14" LEVEL 1;
COMP "seg_L<4>" LOCATE = SITE "U18" LEVEL 1;
COMP "seg_L<5>" LOCATE = SITE "U17" LEVEL 1;
COMP "seg_L<6>" LOCATE = SITE "T18" LEVEL 1;
COMP "seg_L<7>" LOCATE = SITE "T17" LEVEL 1;
COMP "switch" LOCATE = SITE "T10" LEVEL 1;
SCHEMATIC END;

